{erl_opts, [debug_info]}.
{deps, [
        {jsone, "1.4.7"},
        {jose, "1.9.0"},
        {hackney, "1.16.0"}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [hackney, egoc]}
]}.

{profiles, [
    {test, [
        {deps, [
            {cowboy, "2.8.0"}
        ]}
    ]}
]}.

{ct_opts, [{keep_logs, 1}, 
           {sys_config, "config/test.config"}]}.
